<header>
        <div class="container-fluid menu-container">
            <div class="row">
                <ul>
                    {% if request.session.is_logged %}
                    <li><a href="{% url 'view-profile' %}" class="menu-item">{{ request.session.user_id }}</a></li>
                    <li><a href="{% url 'logout' %}" class="menu-item">Logout</a></li>
                    <li><a href="{% url 'create' %}" class="menu-item">Create post</a></li>
                    {% else %}
                    <li><a href="{% url 'register' %}" class="menu-item">Register</a></li>
                    <li><a href="{% url 'login' %}" class="menu-item">Login</a></li>
                    {% endif %}
                    <li><a href="{% url 'all-posts' %}" class="menu-item">All posts</a></li>
                    <li><a href="{% url 'latest' %}" class="menu-item">Latest posts</a></li>
                </ul>
            </div>
        </div>
    </header>