{% extends 'main.html' %}
{% block content %}
    {% include 'menu.html' %}
        <div class="container">
            <div class="row">
            {% if action == 'create' %}
                <form enctype="multipart/form-data" class="post-form" action="{% url action %}" method="POST">
            {% else %}
                <form enctype="multipart/form-data" class="post-form" action="/edit-post/{{ id }}" method="POST">
            {% endif %}
                    <label>{{ form.title.label }}</label>
                    {{ form.title }}
                    <label>{{ form.content.label }}</label>
                    {{ form.content }}
                    <label>{{ form.image.label }}</label>
                {% if action == 'edit' and form.image %}
                    <label>{{ form.image }}</label>
                {% else %}
                    {{ form.image }}
                {% endif %}
                    {{ form.author.as_hidden }}
                    {% csrf_token %}
                    <input type="submit" value="{{action}}">
                </form>
            </div>
        </div>
{% endblock %}