{% extends 'main.html' %}
{% block content %}
        <div class="container">
            <div class="row single-post">
                <div class="bg-modal">
                    <div class="close"> + </div>
                    <div class="modal-content">
                        <p>Are you sure you want to delete this post?</p>
                        <a class="confirm-delete" href="/delete-post/{{ post.id }}">Yes</a>
                        <a class="cancel-delete" href="#">No</a>
                    </div>
                </div>
                <div class="col">
                    <h1 class="single-post-title">{{ post.title }}</h1>
                    {% if post.image %}
                    <img src="{{ post.image.url }}">
                    {% endif %}
                    <p class="single-post-content">{{ post.content }}</p>
                    <p class="single-post-author">Author: {{ author }}</p>
                </div>
            </div>
            {% if author == request.user.username %}
            <div class="row">
                <a class="post-edit" href="/edit-post/{{post.id}}">Edit post</a>
                <a class="post-delete" href="#">Delete post</a>
            </div>
            {% endif %}
        </div>
{% endblock %}